

*{
  /* border: 1px solid purple;
  padding: 10px; */
  font-family: 'Nova Slim', cursive;
}

html {
  background:#ecf0f1;
}
canvas {
  display:block;
  margin:auto;
  background:#ecf0f1;
}


.titleresults .parent{
  display: grid;
  place-items: center;
  align-items: center; 
}
.container {
  display: grid;
  place-items: center;
  margin: 25px 25px 25px 25px;
  align-items: center; 
  justify-content: ;
}

.footer{
  display: grid;
  place-items: center;
  align-items: flex-end; 
  color: aliceblue;
  text-shadow: 1px 0px 5px black;

}
.topDeal{
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin: 25px 25px 25px 25px;
  display: grid;
  place-items: center;
  display: block;
  margin: 11px 0 17px 0;
  font-size: 40px;
  line-height: 45px;
  color: #f1ebe5;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  letter-spacing: -4px;
}
body{
  background-color: #f0c1c1;

}

@media screen and (max-width: 400px) {
  body {
    background-color: #6574c9;
  }
}
  

  
.topDeal h3{
  text-align: center;
  
}
.topDeal img{
  width: 100%;
  /* opacity: 0.2; */
  overflow: hidden;
  border-radius: px;
}

h1{
  text-align: center;
  font-size: 16px;

}
form{
  text-align: center;

}
.box{
  text-align: center;
  max-width: 270px;
  min-width: 270px;
}
.box select{
  max-width: 270px;
  min-width: 270px;
}
head .head{
  place-items: center;
  background-color: aliceblue;
}
h2{
  text-align: center;
  max-width: 270px;
  align-items: center;
}
img {
  min-width: 135px;
  align-items: center;
  max-width: 270px;
  border-radius: 720px;
  background-color:rgb(108, 193, 199)
}
h3{
  max-width: 540px;
  min-width: 135px;
  display: flex;
  /* color: rgb(101, 76, 76); */
  justify-content: space-around;
}
